@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'GangwonEdu_OTFBoldA';
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #FAF6E9;
}

* {
  margin: 0; 
  padding: 0
}