.mini .react-calendar {
  /* width: "15vw";
  height: "28vh"; */
  width: 250px;
  height: 240px;
  margin-top: 0;
  background: white;
  border: 1px solid #a0a096;
  /* font-family:  Arial, Helvetica, sans-serif; */
  /* line-height: 1.125em; */
  justify-content: center;
  /* margin: auto; */
  /* margin-top: 50px; */
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  /* border-radius: ??; */
}

/* .highlight {
  background: #f3a95f;
} */

.mini .red_dot {
  height: 4px;
  width: 4px;
  background-color: #f87171;
  border-radius: 50%;
  display: flex;
  margin-left: 1px;
}

.mini .blue_dot {
  height: 4px;
  width: 4px;
  background-color: skyblue;
  border-radius: 50%;
  display: flex;
  margin-left: 1px;
}

.mini .react-calendar--doubleView {
  width: 500px;
}

.mini .react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  /* margin: -0.5em; */
}

.mini .react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 30%;
  /* margin: 0.5em; */
}

.mini .react-calendar,
.mini .react-calendar *,
.mini .react-calendar *:before,
.mini .react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mini .react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.mini .react-calendar button:enabled:hover {
  cursor: pointer;
}

.mini .react-calendar__navigation {
  display: flex;
  height: 30px;
  margin: 0;
  background-color: darksalmon;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.mini .react-calendar__navigation button {
  width: 20px;
  background: none;
}

.mini .react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.mini .react-calendar__navigation button:enabled:hover,
.mini .react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.mini .react-calendar__month-view__days {
  height: 160px;
}

.mini .react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  /* font-weight: bold; */
  font-size: 10px;
  background-color:bisque;
}

.mini .react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.mini .react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 5px !important; */
  font-weight: bold;
}

.mini .react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.mini .react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.mini .react-calendar__year-view .react-calendar__tile,
.mini .react-calendar__decade-view .react-calendar__tile,
.mini .react-calendar__century-view .react-calendar__tile {
  padding: 0;
}

.mini .react-calendar__tile {
  width: 100%;
  height: 25px;
  padding: 0;
  background: none;
  text-align: center;
  /* text-align: left;
  vertical-align: top; */
  /* line-height: 10px; */
  border: 5px solid black;
  border-radius: 2px;
  font-size: 5px;
}

.mini .react-calendar__tile .react-calendar__month-view__days__day .react-calendar__month-view__days__day--neighboringMonth {
  vertical-align: top;
}

.mini .react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.mini .react-calendar__tile:enabled:hover,
.mini .react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.mini .react-calendar__tile--now {
  background: #ffff76;
}

.mini .react-calendar__tile--now:enabled:hover,
.mini .react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.mini .react-calendar__tile--hasActive {
  background: #76baff;
}

.mini .react-calendar__tile--hasActive:enabled:hover,
.mini .react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.mini .react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.mini .react-calendar__tile--active:enabled:hover,
.mini .react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.mini .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}