
.user-text {
    padding: 15px 20px;
    margin: -40px 0px 0px 40px;
    background-color: #dded65;
    border-radius: 5px;
    color: #363535;
    position: absolute;
    display: none;
  }
  
.user-title:hover + .user-text {
  display: block;
}