.datepicker-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 42px;
    padding: 12px 14px;
    background: white;
    border-radius: 4px;
    border: 1px solid gray;
    font-size: 16px;
    cursor: pointer;
  }
  
  .react-datepicker-popper {
    padding-top: 8px;
  }
  .react-datepicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 4px;
  }
  .react-datepicker__navigation-icon::before {
    width: 5px;
    height: 5px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: gray;
  }
  .react-datepicker__navigation--previous {
    top: 14px;
    left: 10px;
  }
  .react-datepicker__navigation--next {
    top: 14px;
    right: 10px;
  }
  .react-datepicker__header {
    background-color: inherit;
    border: none;
    padding: 0;
    margin-bottom: 8px;
  }
  .react-datepicker__current-month {
    font-size: 14px;
    line-height: 18px;
    margin: 8px 0 10px;
  }
  .react-datepicker__day-name,
  .react-datepicker__day {
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 2px;
    font-size: 12px;
    line-height: 20px;
  }
  .react-datepicker__day--selected,
  .react-datepicker__day--selected:hover {
    background-color: blueviolet;
    color: #ffffff;
  }
  .react-datepicker__day--today:not([aria-selected="true"]) {
    color: blueviolet;
  }
  .react-datepicker__day--outside-month {
    color: lightgray;
  }
  .react-datepicker__day--keyboard-selected {
    background-color: transparent;
    color: black;
  }
  