.dropdown {
    position: relative;
  }
  
  .dropdown > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 42px;
    padding: 12px 14px;
    margin-right: 16px;
    background: white;
    border-radius: 4px;
    border: 1px solid gray;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropdown > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: calc(100% + 8px);
    z-index: 1;
    border: 1px solid gray;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .dropdown li + li {
    border-top: 1px solid gray;
  }
  
  .dropdown li:hover {
    background: lightgray;
  }
  
  .dropdown li > button {
    width: 140px;
    padding: 10px 12px;
    background: transparent;
    border: none;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
  }
  