.openvidu-chatbox {
  width: fit-content;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.openvidu-chatbox .chatinbox {
  width: 100%; 
  height: 90%;
  padding: 5px;
  overflow-y: scroll;
}

.openvidu-chatbox .chatinbox::-webkit-scrollbar {
  display: none;
}

.openvidu-chatbox .datebox {
  width: 100%;
  height: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openvidu-chatbox .datebox p {
  width: 200px;
  height: 18px;
  background-color: #ebe5d1;
  border-radius: 5px;
  text-align: center;
  padding-top: 9px;
  font-size: 12px;
}

.openvidu-chatbox .userchat {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 15px;
}

.openvidu-chatbox .userchat-inbox p {
  font-size: 12px;
}

.openvidu-chatbox .usermsg {
  width: 200px;
  height: auto;
  padding: 15px;
  margin-left: 7px;
  background-color: #fce5a4;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  font-size: 15px !important;
}

.openvidu-chatbox .receivechat {
  width: 100%;
  display: flex;
  /* justify-content: flex-end;
  align-items: flex-end; */
  margin-top: 15px;
}

.openvidu-chatbox .receivechat-inbox p {
  font-size: 12px;
}

.openvidu-chatbox .receivemsg {
  width: 200px;
  height: auto;
  padding: 15px;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  font-size: 15px !important;
}

.openvidu-chatbox .inputbox {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}

.openvidu-chatbox .chatinput {
  width: 100%;
  height: 60px;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.openvidu-chatbox .chatinput:focus {
  outline: none;
}

.openvidu-chatbox .chatbtn {
  width: 100px !important;
  height: 80px !important;
  border: none;
  background-color: #ebe5d1;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* color: #ffffff; */
  font-size: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.openvidu-chatbox .chatbtn:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #4A4A4A;
}

.openvidu-chatbox .time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
}